html {
background-color: #d8e9ef;
font-family: 'Raleway', sans-serif;

}


.home-input {
  display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 300px;
 display: inline-block;
 margin-left: 600px;

}


nav{
background-color: black;
content: center;


}

 h1 {
   display: block;
   text-align: center;
   border: 2px solid  black;
   border-radius: 10px;
   color: black;
   padding-top: 2px;
   padding-bottom: 3px;
   background-color: hsla(196, 42%, 95%, 0.5);

   content-align: center;
}
a:active{

  position: relative;
  top:0.25em;
  }




