<h1>New Manager</h1>
<br>
<form action="/managers" method="post">
    <label for="name">First Name:</label>
    <input  type="text" name="name" id="name" required>


    <label for="phone">Budget:</label>
    <input type="number" name="phone" id="phone" required>

    <label for="email">Salary:</label>
    <input type="text" name="email" id="email" required>

    <input type="submit" value="Save">
</form>